@using ParcelHandling.Shared;
@using System.Globalization;

@if (Parcel != null)
{
    <div class="card" style="width: 18rem;">
        <img src="parcel.png" class="card-img-top" alt="Parcel">
        <div class="card-body">
            <h5 class="card-title">Parcel</h5>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Recipient</th>
                        <td>
                            @Parcel.Receipient?.Name<br>
                            @Parcel.Receipient?.Address?.Street @Parcel.Receipient?.Address?.HouseNumber<br>
                            @Parcel.Receipient?.Address?.PostalCode @Parcel.Receipient?.Address?.City
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Weight</th>
                        <td>@Parcel.Weight</td>
                    </tr>
                    <tr>
                        <th scope="row">Value</th>
                        <td>@Parcel.Value</td>
                    </tr>
                </tbody>
            </table>
            
            <a @onclick=Handle class="btn btn-primary">Handle!</a>
        </div>
    </div>
}

@code {

    [Parameter]
    public Parcel? Parcel { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> Handle { get; set; }
}
